*{
    margin: 0%;
    padding: 0%;
}
p{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.heading{
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.heading:hover{
    text-decoration: underline blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}